/* *{border: 1px solid red;} */
body {
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #0f0f2b;
  color: white;
  width: 100%;
}
/* navbar */
header{
  width: 100%;
  position: sticky;
  z-index: 9;
  top: 20px;
}
nav.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  width: 100%;
  flex-wrap: wrap;
}
.brand {
  color: white;
  font-size: 2em;
  font-weight: 600;
  text-shadow: 1px 1px 1px black;
  transition: 0.2s linear;
}
.brand:hover {
  color: black;
  text-shadow: 1px 1px 1px white;
}
.link-navbar {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 2rem;
  background-color: white;
  padding: 5px;
  box-shadow: 1px 1px 5px 1px black;
  border-radius: 1rem;
  border: 1px solid black;
  padding: 5px 10px;
  width: 40%;
  justify-content: space-around;
}
.link-navbar > li {
  text-align: center;
  border-radius: 0.8rem;
  transition: 0.2s linear;
  padding: 5px 5px;
}
.link-navbar > li > a {
  font-size: 0.8em;
  text-decoration: none;
  color: black;
  transition: 0.2s ease-in;
  padding: 5px 10px;
}
.link-navbar > li:hover {
  background-color: black;
  box-shadow: 1px 1px 5px 1px black;
}
.link-navbar > li:hover > a {
  color: white;
}
/* navbar */
/* home */
.home {
  display: flex;
  position: relative;
  flex-direction: column;
  overflow: hidden;
  margin: -30px 0 10px 0;
}
.home .bg-home{
  object-fit: cover;
}
.bg-home img {
  border-radius: 2rem;
  width: 100%;
}
.text-home {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  background-color: #00000070;
  padding: 2rem;
  border: 1px solid #00000031;
  border-radius: 2rem;
}
.text-home > .titel {
  font-size: 2rem;
  font-weight: 900;
  line-height: 2.1rem;
  word-spacing: 1.2rem;
  margin-bottom: 1rem;
  text-align: center;
  max-width: 35rem;
  text-shadow: 1px 1px 3px black;
}
.text-home > .description {
  max-width: 40rem;
  font-size: 1.2rem;
  font-weight: 600;
  text-shadow: 1px 1px 1px black;
  margin-bottom: 1rem;
}
.text-home > .button {
  margin-top: 1rem;
  display: flex;
  gap: 2rem;
  justify-content: center;
}
.text-home button {
  font-size: 1rem;
  font-weight: 600;
  border-radius: 0.8rem;
  padding: 5px 2rem;
  color: white;
  border: none;
}
.text-home .contact {
  background-color: black;
  transition: 0.2s ease-in;
}
.text-home .contact:hover {
  color: black;
  background-color: white;
}
.text-home .learn-more {
  background-color: transparent;
  transition: 0.2s ease-in;
}
.text-home .learn-more:hover {
  background-color: white;
  color: black;
}
/* home */
/* about */
.about{
  display: flex;
  width: 100%;
  height: 50vh;
  align-items: center;
}
.about > .text-about{
  margin-left: 4rem;
  max-width: 40rem;
}
.text-about > .titel{
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 1rem;
  text-shadow: 1px 1px 1px black;
}
.text-about > .description{
  font-size: 1.2rem;
  font-weight: 300;
  text-align: justify;
  margin-bottom: 1rem;
  text-shadow: 1px 1px 1px black;
}
.text-about .reservasi{
  background-color: white;
  color: black;
  padding: 10px 20px;
  border-radius: 2rem;
  border: none;
  font-size: 1rem;
  font-weight: 600;
transition: .2s linear;
}
.text-about button.reservasi:hover{
  background-color: black;;
  color:white;

}
/* about */
/* product */
.product{
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 2rem;
  position: relative;
  padding: 3rem 0;
}
.product .text-judul{
  color: black;
  font-size: 2rem;
  font-weight: 600;
margin: 1rem auto 1rem 30%;
text-shadow: 1px 1px 1px #a3a3a3;
}
.product > .list{
display: flex;
flex-wrap: wrap;
gap: 2rem;
justify-content: space-evenly;
max-width: 60rem;
margin: auto;
}
.product > .list > .card{
padding: 2px;
box-shadow: 5px 5px 10px 1px black;
background-color: black;
border-radius: 2rem;
}
.product > .list > .card img{
  width: 400px;
  border-radius: 2rem;
  border: 1px solid rgb(0, 0, 0);
}
.product .show-more{
  margin: 1rem 30% 1rem auto;
}
.product .show-more a{
  text-decoration: none;
  font-size: 1rem;
  font-weight: 300;
  color: black;
}
/* product */